{% extends "base.html" %}

{% load tagslib %}

{% block main %}
	<a href="/qna/ask/">Create question</a>
    <br>
    {% for q in questions %}
        <div class="status like">
            <div class="number">
                {{ q|count_like }}
            </div>
            <div>
                 like
            </div>
        </div>
        <div class="status {{ q|count_answer|no_answer }}">
            <div class="number">
                {{ q|count_answer }}
            </div>
            <div>
                 answer{{ q|count_answer|pluralize }}
            </div>
        </div>
        <div class="question_info">
            <a href="/qna/question/{{ q.id }}/" class="question_title">{{ q.title }}</a><br>
            <span class="day">{{ q.date }}</span>
            <span>by </span>
            <a href="#">{{ q.author.username }}</a>
            <span id="{{ q|already_like:user }}"><a href="/qna/{{ q|already_like:user }}/question/{{ q.id }}">{{ q|already_like:user }}</a></span>
        </div>

        <hr>
    {% endfor %}
{% endblock %}