{% extends "base.html" %}

{% load tagslib %}

{% block extra_static %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vietdev.js"></script>
{% endblock %}

{% block main %}
<div>
    {% for q in questions.object_list %}
        <div class="status like" id="q_{{ q.id }}">
            <div class="number">
                {{ q|count_like }}
            </div>
            <div>
                 like
            </div>
        </div>
        <div class="status {{ q|count_answer|no_answer }}">
            <div class="number">
                {{ q|count_answer }}
            </div>
            <div>
                 answer{{ q|count_answer|pluralize }}
            </div>
        </div>
        <div class="question_info">
            <a href="/qna/question/{{ q.id }}/" class="question_title">{{ q.title }}</a><br>
            <span class="day">{{ q.date }}</span>
            <span>by </span>
            <a href="/profile/{{ q.author.username }}">{{ q.author.username }}</a>
            {% if user.id > 0 %}
            <span class="{{ q|already_like:user }}" id="question_{{ q.id }}">
                <a href="javascript:;" onclick="like('question', '{{ q.id }}')" class="status_like">{{ q|already_like:user }}</a>
            </span>
            {% endif %}
            {% if q.tags %}
            <span>
                Tags :
                {% for t in q.tags %}
                    <a href="#">{{ t }}</a>,
                {% endfor %}
            </span>
            {% endif %}
        </div>

        <hr>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="/qna/page/{{ questions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
            </span>

            {% if questions.has_next %}
                <a href="/qna/page/{{ questions.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}