{% extends "base.html" %}

{% load tagslib %}

{% block extra_static %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vietdev.js"></script>
{% endblock %}

{% block main %}
<div id="mainbar">
    <div class="subheader">
        <div id="tabs">
            <a class="you_are_here" href="#">interesting</a>
            <a href="#">hot</a>
            <a href="#">week</a>
            <a href="#">month</a>
        </div>
    </div>
    <div id="question-mini-list">
    {% if tag %}
        <div class="tag-excerpt">
        {% if tag.excerpt %}
            <p>{{ tag.excerpt }}</p>
        {% else %}
            <p>The <a rel="tag" title="show questions tagged '{{ tag.name }}'" class="post-tag" href="/questions/tagged/{{ tag.name }}">{{ tag.name }}</a>
                tag has no wiki summary, would you like to <a title="information about this tag" href="/edit-tag-wiki/{{ tag.id }}">help us create it?</a>
            </p>
        {% endif %}
            <p style="margin-bottom:0;">
                <a href="/qna/tags/edit-tag-wiki/{{ tag.id }}">improve description</a>
                <span class="lsep">|</span>
                <a href="/tags/{{ tag.name }}/info" title="tag wiki">about the {{ tag.name }} tag</a>
                <span class="lsep">|</span>
                <a href="/tags/{{ tag.name }}/topusers" title="top answerers and askers in this tag">top users</a>
                <span class="lsep">|</span>
                <a href="/tags/{{ tag.name }}/new" title="new answers with this tag">new answers</a>
                <span class="lsep">|</span>
                <a href="/tags/{{ tag.name }}/synonyms" title="common, alternate spellings or phrasings for this tag">synonyms</a>
                <span class="lsep">|</span>
                <a href="/jobs/tag/{{ tag.name }}" title="find yourself a job">{{ tag.name }} jobs</a>
            </p>
        </div>
    {% endif %}
    {% for q in questions.object_list %}
        <div class="question-summary">
            <div class="votes" id="q_{{ q.id }}">
                <div class="mini-counts">{{ q|count_like }}</div>
                <div class="name">likes</div>
            </div>
            <div class="status {{ q|count_answer|no_answer }}">
                <div class="mini-counts">{{ q|count_answer }}</div>
                <div class="name">answer{{ q|count_answer|pluralize }}</div>
            </div>
            <div class="views">
                <div class="mini-counts">0</div>
                <div class="name">views</div>
            </div>
            <div class="question_info">
                <h3><a href="/qna/question/{{ q.id }}/" class="question_title">{{ q.title }}</a></h3>
                <div class="tags">
                {% if q.tags %}
                    {% for t in q.tags %}
                        <a class="post-tag" href="/qna/tags/{{ t }}">{{ t }}</a>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="started">
                    <span class="day">{{ q.date }}</span>
                    <span>by </span>
                    <a href="/profile/{{ q.author.username }}">{{ q.author.username }}</a>
                    {% if user.id > 0 %}
                    <span class="{{ q|already_like:user }}" id="question_{{ q.id }}">
                        <a href="javascript:;" onclick="like('question', '{{ q.id }}')" class="status_like">{{ q|already_like:user }}</a>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="/qna/page/{{ questions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
            </span>

            {% if questions.has_next %}
                <a href="/qna/page/{{ questions.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}