{% extends "base.html" %}

{% block main %}
	<a href="/qna/ask/">Create question</a><br>
    {{ question.author.username }}  {{ question.date }} <br>
    {{ question.title }}<br>
    {{ question.content }}<br>
    <br>
    {% for a in answers %}
    	{{ a.author.username }}  {{ a.date }} <br>
    	{{ a.content }}
    	<hr>
    {% endfor %}
    <form method="post" action="/qna/answer/{{ question.id }}/"> {% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Submit">
    </form>
{% endblock %}