{% extends "base.html" %}

{% load tagslib %}

{% block extra_static %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vietdev.js"></script>
{% endblock %}

{% block main %}
	<a href="/qna/ask/">Create question</a><br><br>
    <h1 class="question_title">{{ question.title }}</h1>
    <hr>
    <div class="content">
        <p>{{ question.content|linebreaksbr }}</p>
        <div class="question_info">
            <span class="day">{{ question.date }}</span>
            <span>by </span>
            <a href="#">{{ question.author.username }}</a>
           	<span class="like" id="q_{{ question.id }}" onclick="like('question', '{{ question.id }}')">
           		<span class='status'>Like</span><span class="total"></span>
           	</span>
        </div>
    </div>
    <br>
    <h2 class="answer_title">{{ question|count_answer }} Answer{{ question|count_answer|pluralize }}</h2>
    <hr>
    {% for a in answers %}
        <div class="content">
            <p>{{ a.content|linebreaksbr }}</p>
            <div class="question_info">
                <span class="day">{{ a.date }}</span>
                <span>by </span>
                <a href="#">{{ a.author.username }}</a>
                <span class="like" id="q_{{ a.id }}" onclick="like('answer', '{{ a.id }}')">
                	<span class='status'>Like</span><span class="total"></span>           			
           		</span>
            </div>
        </div>
    	<hr>
    {% endfor %}
    <h2 class="answer_title"> Your Answer</h2>
    <form method="post" action="/qna/answer/{{ question.id }}/"> {% csrf_token %}
    	<textarea rows="10" cols="40" name="content"></textarea><br>
    	<input type="submit" value="Submit">
    </form>
{% endblock %}
