{% extends "base.html" %}

{% load tagslib %}

{% block extra_static %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vietdev.js"></script>
{% endblock %}

{% block main %}
<div id="mainbar">
    <div class="subheader">
        <div id="tabs">
    {% if type == 'popular' %}
            <a class="you_are_here" href="#">popular</a>
            <a href="/qna/tags/?sort=name">name</a>
            <a href="/qna/tags/?sort=new">new</a>
    {% else %}
        {% if type == 'name'%}
            <a href="/qna/tags/">popular</a>
            <a class="you_are_here" href="#">name</a>
            <a href="/qna/tags/?sort=new">new</a>
        {% else %}
            <a href="/qna/tags/">popular</a>
            <a href="/qna/tags/?sort=name">name</a>
            <a class="you_are_here" href="#">new</a>
        {% endif %}
    {% endif %}
        </div>
    </div>
</div>
<div id="tags-list">
    <table id="tags-browser">
        <tbody>
        {% for sub_tag in tags %}
            <tr>
            {% for t in sub_tag %}
                <td class="tag-cell">
                    <a href="/qna/tags/{{ t.name }}" class="post-tag">{{ t.name }}</a>
                    <span class="item-multiplier">x {{ t.count }}</span>
                    <div class="excerpt">
                        This is for description of tag.
                    </div>
                    <div>
                        <div class="stats-row fl"><a title="457 questions tagged {{ t.name }} in the last 24 hours" href="#">{{ t|in_24h }} asked today</a>, <a title="{{ t|in_week }} questions tagged {{ t.name }} in the last 7 days" href="#">{{ t|in_week }} this week</a></div>
                        <div class="cbt"></div>
                    </div>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}