{% extends "base.html" %}
{% load i18n %}

{% block title %}Change Password{{ block.super }}{% endblock %}

{% block main %}

{% if set_password %}
<div class="grid_12 main_white">
<div class="inner">
	<h2><span>{% trans 'Set password' %}</span></h2> 
	<div class="box"> 
		<form action="" method="post">
			{% csrf_token %}
			<div class="inform myform">
				<input type="hidden" name="form_sent" value="1" /> 
				<fieldset> 
					<legend>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</legend> 
					<div class="infldset"> 
						<label class="conl"><strong>{% trans 'New password:' %}</strong><br /> 
						{{ form.new_password1 }}<br /></label> 
						<label class="conl"><strong>{% trans 'Confirm password:' %}</strong><br /> 
						{{ form.new_password2 }}<br /></label> 
						<div class="clearb"></div> 
					</div> 
				</fieldset> 
			</div> 
			<p><input type="submit" class="btn" value="{% trans 'Change my password' %}" /></p>
		</form> 
	</div> 
</div> 
</div>

{% else %}

<div class="grid_12 main_white">
<div class="inner">
	<h2><span>{% trans 'Password change' %}</span></h2> 
	<div class="box"> 
		<form action="" method="post">
			{% csrf_token %}
			<div class="inform myform">
				<input type="hidden" name="form_sent" value="1" /> 
				<fieldset> 
					<legend>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</legend> 
					<div class="infldset"> 
						<p>
                            <label><strong>{% trans 'Old password:' %}</strong><br />
                            {{ form.old_password.errors }}
                            {{ form.old_password }}<br /></label>
                        </p>
						<label class="conl"><strong>{% trans 'New password:' %}</strong><br /> 
						{{ form.new_password1.errors }}
						{{ form.new_password1 }}<br /></label> 
						<label class="conl"><strong>{% trans 'Confirm password:' %}</strong><br /> 
						{{ form.new_password2.errors }}
						{{ form.new_password2 }}<br /></label> 
						<div class="clearb"></div> 
					</div> 
				</fieldset> 
			</div> 
			<p><input type="submit" class="btn" value="{% trans 'Change my password' %}" /></p>
		</form> 
	</div> 
</div> 
</div>

{% endif %}
{% endblock %} 