<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{{ block.super }} - vietdev.com{% endblock %}</title>

	{% block desc %}{% endblock %}
	<link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon"/>

	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/qna.css" />

    <!-- Make it up CSS-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/skins/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/sets/default/style.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/screen.js"></script>

    <!-- Make it up JS -->
    <script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}markitup/sets/default/set.js"></script>

    <!-- Make it up JS -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/showdown.js"></script>

	<!--[if IE]>
		<script type="text/javascript" src="http://mooncdn.com/html5.js"></script>
	<![endif]-->
    <script type="text/javascript">
		var STATIC_URL = "{{ STATIC_URL }}";
	</script>
    {% block extra_static %}{% endblock %}
</head>
<body>
<div id="custom-header"></div>
<div class="container">
    <div id="header">
        <div id="topbar">
            <div id="hlinks">
                <span id="hlinks-nav">
                    <a href="/qna/">Home</a>
                    <span class="lsep">|</span>
                {% if request.user.is_authenticated %}
                    <a href="/profile/" class="username"><strong>{{ request.user.username }}</strong></a>
                    <span class="lsep">|</span>
                    <a href="/profile/{{ request.user.username }}/update/">Update My Profile</a>
                    <span class="lsep">|</span>
                    <a href="{% url auth_password_change %}">Password</a>
                    <span class="lsep">|</span>
                    <a href="{% url user_signout %}?next={{ request.path }}">Logout</a>
                {% else %}
                    <a href="{% url user_signin %}">Login/Register</a>
                {% endif %}
                </span>
            </div>
        </div>
        <div id="hmenus">
            <div class="nav mainnavs">
                <ul>
                    <li>
                        <a class="you_are_here" href="/qna/">Questions</a>
                    </li>
                    <li>
                        <a href="#">Tags</a>
                    </li>
                    <li>
                        <a href="#">Users</a>
                    </li>
                    <li>
                        <a href="#">Unanswer</a>
                    </li>
                </ul>
            </div>
            <div class="nav askquestion">
                <ul>
                    <li>
                        <a href="/qna/ask/">Ask Question</a>
                    </li>
                </ul>
            </div>
        </div>
{#        <nav class="main_nav green right">#}
{#            <ul>#}
{#                <li><a href="/qna/">Home</a></li>#}
{#                {% if request.user.is_authenticated %}#}
{#                    <li><a href="/profile/" class="username"><strong>{{ request.user.username }}</strong></a></li>#}
{#                    <li><a href="/profile/{{ request.user.username }}/update/">Update My Profile</a></li>#}
{#                    <li><a href="{% url auth_password_change %}">Password</a></li>#}
{#                    <li><a href="{% url user_signout %}?next={{ request.path }}">Logout</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url user_signin %}">Login/Register</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </nav>#}
    </div>
    <div id="content">
        {% block main %}{% endblock %}
    </div>
</div>
</body>
</html>